POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=myscore
POSTGRES_PASSWORD=myscore_secret
POSTGRES_DB=myscore
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=15d
PORT=3001
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://myscore.pacifictechnologies.mv/api/auth/google/callback
